body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vehicle-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  max-width: 1200px; 
}

.left-content {
  width: 45%;
  text-align: left;
  padding-left: 50px;
}


.left-vehicle-content h3 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 1;
  margin: 25px 0 15px 0;
}

.input-form {
  margin-top: 30px;
}

.input-form input {
  background-color: transparent; 
}

.input-form input, .input-form button {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d4c4a8;
    border-radius: 5px;
    color: #DBD8B3;
}

label {
    font-size: 0.8rem;
}

.input-form button {
    display: block;
    background-color: #819DAD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

.input-form button:hover {
  background-color: #CAE781;
  color: #161712
}

.right-vehicle-content {
  width: 90%;
  padding-left: 50px;

}

.right-vehicle-content h3 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 1;
  margin-bottom: 25px;
}

.records-list {
  max-height: 600px;
  overflow-y: auto;
  padding-right: 15px;
}

.record-item {
  padding: 15px;
  border-bottom: 1px solid #d4c4a8;
  margin-bottom: 15px;
  background-color: #282c34;
  border-radius: 5px;
}

.record-item p {
  margin: 5px 0;
}

.record-item strong {
  color: #819DAD;
}

.record-item p {
  color: #DBD8B3;
}

@media screen and (max-width: 768px) {
  .vehicle-container {
    flex-direction: column;
    align-items: center;
  }

  .left-vehicle-content, .right-vehicle-content {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}




/* Hide the default calendar icon for date input */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;  /* Hide the default calendar icon */
}

/* Hide the default up/down number input controls */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;  /* Hide the spin buttons */
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;  /* Hide the spin buttons for Firefox */
}